<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="myBeanPostProcessor" class="com.example.demo.service.ioc.xml.MyBeanPostProcessor"/>
    <bean name="tool" class="com.example.demo.service.ioc.xml.Tool"/>
    <bean name="personBean" class="com.example.demo.service.ioc.xml.Person"
        init-method="init" destroy-method="destroyMethod" depends-on="tool">
        <property name="name" value="gao nan"/>
    </bean>
</beans>